extends layout

block content
  // Header
  #header
    img#title-image(src='images/dollar-sign.png')
    h1 Your Friendly Neighborhood Tax Estimator
    p Check out how much you benefit, or don't benefit, with the proposed tax bills.
  // Main
  #main
    header.major.container(class='75%')
      //form(action='/js/clientController.js', method='POST')
      div
        label Status
        input(id='single', type='radio', name='status', value="single")
        |  Single
        input(id='married', type='radio', name='status', value="married")
        |  Married 
        br
        br
        label Income
        input(id='income', type='text', style='text-align:center' name='income')
        br
        label State And Local Tax Paid
        input(id='stateAndLocalTaxDeduction', type='text', style='text-align:center' name='stateAndLocalTaxDeduction')
        br
        label Property Tax Paid
        input(id='propertyTaxDeduction', type='text', style='text-align:center' name='propertyTaxDeduction')
        br
        label Medical Expenses
        input(id='medicalExpensesDeduction', type='text', style='text-align:center' name='medicalExpensesDeduction')
        br
        label Tuition Waved
        input(id='tuitionWaved', type='text', style='text-align:center' name='tuitionWaved')
        br
        label Itemized Deductions
        input(id='itemizedDeductions', type='text', style='text-align:center' name='itemizedDeductions')
        br
        label Child Dependents (17 years old or under)
        input(id='childDependents', type='text', style='text-align:center' name='childDependents')
        br
        label Non-Child Dependents
        input(id='nonChildDependents', type='text', style='text-align:center' name='nonChildDependents')
        br
        label ​
        input.myForm(id='submit', type='submit', value='submit')
      br
      br

      div(style='visibility:hidden', id='results')
        h1 Results
        p(id='tax_results')
        p(id='tax_results_percent')
        br
        br
        h4 Result Details for Current 2018 System  
          button(class='twisty', id='showResultDetails2018', isOpen='false') &#9654
        div(id='result-details-current2018System')
        br
        br
        h4 Result Details for House Tax Cuts and Jobs Act  
          button(class='twisty', id='showResultDetailsHouse', isOpen='false') &#9654
        div(id='result-details-HouseSystem')



      p(id='disclosure') Disclosure: We take no responsibility and assume no liability for any harm caused by the information given on this page. We have done our best to estimate taxes based on the input given and based on the latest proposals in congress, but we are neither tax attorneys nor certified professional accountants (however, we are programmers and pretty good at math :) ). Our best estimates are given, and there is no malicious intent here, but we cannot guarantee that these calculations are accurate.
  // Footer
  #footer
    .container(class='75%')
  // Scripts
  //script(src='/js/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/js/skel.min.js')
  script(src='/js/util.js')
  script(src='/js/clientController.js')
  //if lte IE 8
    script(src='/js/ie/respond.min.js')
  script(src='/js/main.js')

