doctype html
html
  head
    title Tax Plan Estimator
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
    // Header
    #header
      img#title-image(src='images/dollar-sign.png')
      h1 Your Friendly Neighborhood Tax Estimator
      p Check out how much you benefit, or don't benefit, with the proposed tax bills.
  body
    block content